<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supsup">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.example.supsup.permission.MAPS_RECIVE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SUPSUP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SUPSUP">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0H2kEQvslE11BNG2qfEFni3G1H8cnHfc"/>

        <activity
            android:name=".intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".select_interface"/>
        <activity android:name=".login"/>
        <activity android:name=".mypage_myhelpme"/>
        <activity android:name=".mypage_myhelpyou"/>
        <activity android:name=".mypage_myinfo"/>
        <activity android:name=".mypage_keyword"/>
        <activity android:name=".mypage_profile"/>
        <activity android:name=".MessageActivity"/>
        <activity android:name=".SignUp"/>
        <activity android:name=".create_text"/>
        <activity android:name=".home_textinfo1"/>
        <activity android:name=".home_textinfo"/>
        <activity android:name=".map_textinfo"/>
        <activity android:name=".wide_home"/>
        <activity android:name=".wide_home_textinfo"/>
        <activity android:name=".wide_home_textinfo1"/>
        <activity android:name=".wide1_createtext_title"/>
        <activity android:name=".wide2_createtext_pay"/>
        <activity android:name=".wide3_createtext_time"/>
        <activity android:name=".wide4_createtext_detail"/>
        <activity android:name=".myhelp_textinfo"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>
